/* This section describes the rules that govern the entire site unless overruled */
*{
    font-family: serif;
    font-size: 25px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* This controls the background image of my webpage */
body {
    background-image: url("../images/black-background.jpg")
}

/* controls behavior of text within paragraphs */
p {
    color:#ffcc00;
    display: inline;
}

/* Controls the behavior of H2 tags  */
h2 {
    color: whitesmoke;
}

/* controls the entire header class */
.header { 
    background-color: #804000;
    color: #ffcc00;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
}

/* Controls the behavior of the big letters at the top of the page */
.header h1 {
    font-size: 48px;
    display: inline-block; /*Makes the h1 content stay inline with the other header stuff*/
}

/* This tells the logo to be on the left side of the screen, and controls the height */
.header .logo {
    float: left;
    max-height: 85px;
    }

/* controls behavior of anchor tags that are children of the header */
.header >a { 
    display: block; 
    padding: 20px; 
}


/* Controls the nav class within the header class */
.header nav {
    font-size: 20px; /* Font size selector for all elements in nav bar */
}

.header ul {
    list-style-type: none; /*removes bullet points or other decorations */
    display: flex;
    
}

.header ul li {
    display: inline-block;
    margin-left: 100px;
    padding-top: 15px;  
}

/* Controls the behavior of the big image towards the top of the screen */
.mainImg {
    width: 100%;
    max-height: 400px;
}

.profile {
    float: left;
    display: inline-block;
    max-height:  150px;
    
}

.container {
    position: relative;
    max-width:fit-content; /* Maximum width */
    margin: 0 auto; /* Center it */

}
      
.container .content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */    
}

.container .content p {
    color: #f1f1f1
}

.container .content .big-project {
    max-width: 800px;
}

.lesser-project {
    max-width: 400px;
    display: inline-block;
    min-height: 500px;
    min-width: 600px;
}

.footer {
    text-align: center;
    color: #ffcc00;
    margin-top: 20px;
}

.contact-me {
    background-color: #804000;
    color: #ffcc00;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a:visited {
    color: #ffcc00
}

a:hover {
    color: lightgoldenrodyellow;
}

.lesser-project:hover {
    filter: blur(5px);
}

.big-project:hover{
    filter: grayscale(100%);
}

@media screen and (max-width:600px) {
span {
    display: none;
    }
}